/* added by proverbs */

p {
	background: orange;
    font-size: 18px;
    width: 5em;
}

p {
    background: yellowgreen;
}

.class_p {
    background: white;
}

#id_p {
    background: wheat;
}

.class_div {
    background: gold;
}

.class_div p.class_div_p {
    background: rgba(0, 0, 0, .25);
}

.class_div p {
    background: palevioletred;
}